body{
    padding: 0px;
    margin: 0px;
    background-color: #004b74;
}

.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.sub-header{
    background-color: #ffffff;
    height: 75px;
    display: flex;
    padding: 0px 100px 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.title-txt{
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
}

.logo{
    height: 75px;
}

.product-name{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.options, .sketchpad{
    background-color: #ffffff;
    height: 750px;
}

.options{
    width: 250px;
}

.sketchpad-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.sketchpad{
    width: 900px;
}